body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#title {
  font-size: 24px;
}

.graph {
  display: block;
  margin: auto;
  background-color: white;
}

div.tooltip {
  position: absolute;
  background: white;
}